<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="base_styles.css"> 
       {% if title %} 
       <title>Tasksent</title>
       {% else %}
       <title>Tasksent. The better scheduler.</title>
       {% endif %}
    </head>
    <body>

      <! –– the navigation bar ––>
      <! –– first, before any CSS, let us list the links needed ––>
      <! –– login, logout, meetings, settings ––>
      <! –– for now, the bar will be light blue with black  ––>

      <div class="navigate">

      {% if session['usename'] %}

         <button type="button" class="btn btn-link">
            <a href="/meetings">Home</a>
         </button>

         <button type="button" class="btn btn-link">
            <a href="/settings">Settings</a> 
         </button>

         <button type="button" class="btn btn-link">
            <a href="/logout">Logout</a>
         </button>

      {% else %}

         <button type="button" class="btn btn-link"> 
            <a href="/guest-page">Schedule a Meeting</a> 
         </button> 

         <button type="button" class="btn btn-link">
            <a href="/login">Login</a>
         </button>

      {% endif %}

      </div> 

       <hr>

       {% block content %}{% endblock %}

       {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
                  <li>{{ message }}</li>
              {% endfor %}
            </ul>
         {% endif %}
       {% endwith %} 

    </body>
</html>
