<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <style>
        a:link {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 18px;
            color: blue;
        } 
        a:hover {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 18px;
            color: black;
        } 
      </style> 
       {% if title %} 
       <title>Tasksent</title>
       {% else %}
       <title>Tasksent. The better scheduler.</title>
       {% endif %}
    </head>
    <body>
       <div class="navigate"> 
          <button class="btn btn-light"> 
            <a href="/">Home</a> 
          </button>  
          <button class="btn btn-light"> 
            <a href="/create-account">Create Account</a> 
          </button>
          <button class="btn btn-light">
            {% if session['username'] %}
               <a href="/logout">Logout</a>
            {% else %}
               <a href="login">Login</a> 
            {% endif %}
          </button> 
          <button class="btn btn-light">
            <a href="/calendar">Guest Page</a>
          </button> 
          <button class="btn btn-light">
            <a href="/meetings">Meetings</a> 
          </button> 
     </div> 
       <hr> 

       {% block content %}{% endblock %}

       {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
                  <li>{{ message }}</li>
              {% endfor %}
            </ul>
         {% endif %}
       {% endwith %} 

    </body>
</html>
