{% extends 'base.html' %}
{% block content %}
<h1>{{ date }}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.time.label }}
            {{ form.time()}}
        </p>
        <p>
            {{ form.name.label }} <br>
            {{ form.name(size=64) }}
        </p>
        <p>
            {{ form.description.label }} <br>
            {{ form.description(size=256, rows=10, cols=100) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>

{% endblock %}