{% extends "base.html" %}
 
{% block content %}
    <h1>Settings</h1>
    <h3>Meeting Settings</h3>
    
    <form action="" method="post" navalidate>
    {{ form.hidden_tag() }}
    
    <p>
        Select meeting time
        {{ form.timeofday() }}
    </p>

    <p>
        Select meeting length
        {{ form.timeops() }}
    </p>
    
    <p>
        Would you like to notify attendants?
        <br>{{ form.emailconf() }} {{ form.emailconf.label }}</br>
    </p>
    
    <br></br>
    
    <h3>Account Settings</h3>
    <p>
        {{ form.submit() }}
    </p>

    </form>
{% endblock %}