{% extends "base.html" %}
 
{% block content %}
 
    <h1>A Little About Us...</h1>
    <div>
        <p>
            Tasksent is a scheuduling site that allows account bearing users to establish meeting times and durations. Guest users may access the site and view these meetings or avalibility timeframes.
        </p>
    </div>
    <div>
        <p>
            Users who sign up on the site are allowed to dictate time avalibility wthin an hourly range spanning from 9:00am to 10:00pm. Meeting duration, or availibility windows, can then be chosen from the following options: 1 quarter hour, 1 half hour, or 1 full hour.
        </p>
    </div>
    <div>
        <p>
            Users also have the option of sending email notificaions to guests who have selected a specific avalibility time.
        </p>
    </div>

	<img src="/static/pics/scr.png" alt="picture goes here">
    
    <p>To check out our website, <a href = "/home">click here</a>, or select "Home" from the navigation bar</p>

{% endblock %}